
@{
    ViewBag.Title = "Index";
}

<h2>Inserts</h2>

<div class="row mb-5">
    @Html.ActionLink("Insert Open Close 500", "InsertOpenClose")
</div>
<div class="row">
    @Html.ActionLink("Insert Lot Ef 500", "InsertListLotEf500")
</div>

<div class="row">
    @Html.ActionLink("Insert Lot Ef 5000", "InsertListLotEf5000")
</div>

<div class="row">
    @Html.ActionLink("Trucate Customers", "TrucateCustomers")
</div>